.git
.gitignore
.env
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
node_modules/
package-lock.json
package.json
tailwind.config.js
.dockerignore
Dockerfile
docker-compose.yml
README.md 