.git
.gitignore
.env
*.pyc
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
venv/
ENV/
node_modules/
# We need these for static files
# package-lock.json
# package.json
# tailwind.config.js
.dockerignore
# db.sqlite3 - We need this
docker-compose.yml
# README.md 